<h1>All Tags</h1>
<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name %></li>
    <% if logged_in? %>
      <li><%= link_to "delete", tag_path(tag), method: :delete %></li>
    <% end %>
  <% end %>
</ul>
